@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
    background-color: #000000;
}

.con-1 {
    display: flex;
    /* flex-grow: 2; */
    flex-wrap: wrap;
    flex-basis: auto;
    flex-flow: column wrap;
    /* justify-content: center; */
    align-content: space-between;
    background-color: #FFFFFF;
    border-radius: 35px;
    height: auto;
    width: 60%;
    font-family: 'Maven Pro', sans-serif;
    position: relative;
    left: 20%;
}

.con-2 {
    display: flex;
    height: 80%;
    width: 80%;
    position: relative;
    left: 10%;
}

.con-head {
    display: flex;
    position: relative;
    left: 15.5%;
    font-family: 'Maven Pro', sans-serif;
}

.head-text {
    display: flex;
    color: #FFFFFF;
    font-size: 500%;
    position: relative;
    left: 14%;
    top: 10%;
    font-family: 'Maven Pro', sans-serif;
}

.head-text-mini {
    display: flex;
    flex-flow: column;
    color: #FFFFFF;
    font-size: 200%;
    position: relative;
    left: 14%;
    top: 10%;
    font-family: 'Maven Pro', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
} 

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.grid {
    display: grid;
    column-gap: 1em;
    row-gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.table {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0px;
    border-width: 2px;
    border-style: dashed;
    border-color: #000000;
}

.box {
    vertical-align: center;
    align-content: center;
}

.button {
    display: inline-box;
    padding: 1em 1em;
    margin: 1em 0;
    text-decoration: none;
    background: #7aff6e;
    width: fit-content;
}