{% load static %}
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="{% static 'script.js' %}" defer></script>
        <link type="text/css" rel="stylesheet" href="{% static 'css/design7.css' %}">
    </head>
    <body>
        <ul>
        </ul>
        {% block content %}

        {% endblock  %}
    </body>
</html>