{% extends "base7.html" %}
{% load static %}
{% block content %}
<h2>Accordion</h2>
<div class="con-1">
    <div class="baby-cordion">
        <div class="accor-title">
            <h5 class="dropdrown">
                <span class="title">Aktivitas saat ini</span>
                <span class="move-up">^</span>
                <span class="move-down">v</span>
            </h5>
        </div>
        <div class="accor-filling">
            <h6>Tidur</h6>
            <h6>Bermain Genshin Impact</h6>
            <h6>Belajar(?)</h6>
        </div>
    </div>
    <div class="baby-cordion">
        <div class="accor-title">
            <h5 class="dropdrown">
                <span class="title">Pengalaman organisasi/kepanitiaan</span>
                <span class="move-up">^</span>
                <span class="move-down">v</span>
            </h5>
        </div>
        <div class="accor-filling">
            <h6>Ketua pelaksana malam mapres ketika mengikuti SBF Akpem</h6>
        </div>
    </div>
    <div class="baby-cordion">
        <div class="accor-title">
            <h5 class="dropdrown">
                <span class="title">Prestasi</span>
                <span class="move-up">^</span>
                <span class="move-down">v</span>
            </h5>
        </div>
        <div class="accor-filling">
            <h6>Tidak ada ;-;</h6>
        </div>
    </div>
    <div class="baby-cordion">
        <div class="accor-title">
            <h5 class="dropdrown">
                <span class="title">Mimpi</span>
                <span class="move-up">^</span>
                <span class="move-down">v</span>
            </h5>
        </div>
        <div class="accor-filling">
            <h6>Tidak perlu memikirkan uang</h6>
        </div>
    </div>
</div>
{% endblock content%}