{% extends "base8.html" %}
{% load static %}
{% block content %}
<h2>Searchbar</h2>
<div class="con-1">
    <div class="">
        <form id="search-form">
            <input type="text" id="search-input" />
            <input class="button" type="submit" value="Submit" />
        </form>
    </div>
</div>
<br>
<div class="con-1">
    <div id="result"></div>
</div>
{% endblock content%}