{% load static %}
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'css/design9.css' %}">
    </head>
    <body>
        <ul>
        </ul>
        {% block content %}

        {% endblock  %}
    </body>
</html>