{% extends 'base9.html' %}
{% load static %}
{% block content %}
<div>
    <div class="con-1">
    {% if user.is_authenticated %}
    <h1>Welcome back {{user.username}}</h1>
    <br>
    <p>Hi</p>
    <a class="button" href="{% url 'logout' %}">Logout</a>
    {% else %}
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button class="button">Submit</button>
    </form>

    <h3>Already have an account?</h3>
    <a class="button" href="{% url 'login' %}">Login</a>
    
    {% endif %}
    </div>
</div>
{% endblock content %}