{% extends 'story_9/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<h3>You already logged in</h3>
{% else %}
<h1>Login</h1>
<br>
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table}}
    </table>
    <button class="btn">Login</button>
</form>
<br>
<h3>Don't have an account?</h3>
<a class="btn" href="{% url 'story_9:index' %}">Register</a>
{% endif %}
{% endblock content %}