{% load static %}
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'css/design.css' %}">
    </head>
    <body>
        <ul>
            <li><a href="{% url 'story4_eyotawakanda:home' %}">Home</a></li>
            <li><a href="{% url 'story4_eyotawakanda:contact' %}">Contact</a></li>
            <li><a href="{% url 'story4_eyotawakanda:profile' %}">Profile</a></li>
        </ul>
        {% block content %}

        {% endblock  %}
    </body>
</html>