{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="con-head">
            <p class="head-text">
                CONTACTS:
            </p>
        </div>
        <div class="head-text-mini">
            <img id="contact" src="{% static 'img/line icon.png' %}" alt="">
            <p>menurutmuapalagi</p>
            <img id="contact" src="{% static 'img/phone icon.png' %}" alt="">
            <p>+62 812 9500 5479</p>
            <img id="contact" src="{% static 'img/email icon.png' %}" alt="">
            <p>eyota1318@gmail.com</p>
        </div>
{% endblock content %}