{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="binder"></div>
        <div class="con-head">
            <table>
                <tr>
                    <td>
                        <div class="just-circle">
                            <div class="face-circle">
                                <img id="face" src="{% static 'img/FR17.jpg' %}" width=100% height=100% alt="">
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <h1 class="head-text">
                            CURRICULUM VITAE
                        </h1>
                        <p class="head-text-mini">
                            CONTACTS
                        </p>
                    </td> 
                </tr>
            </table>
        </div>
        <br>
        <br>
        <br>
        <div class="con-1">
            <div class="con-2">
                <table>
                <tr><td><h1>ABOUT ME</h1></td></tr>
                <tr><td><p>Hello, my name is Eyota Wakanda, people always call me Waka. I am a 2nd year Information Systems Undergraduate Student at the University of Indonesia. My first year GPA is 3.61. I am a person that is eager to learn many things, including but not exclusive to: coding, literature history, music history, language and entertainment.</p></td></tr>
                <tr><td><br></td></tr>
                <tr><td><p>During my free time, my hobby is socializing with people, reading literature and enjoy various forms of entertainment.</p></td></tr>
                <tr><td><br></td></tr>
                <tr><td><p>In my major, I will be taking the technopreneurship minor because I am interested in starting a business at some point in the future. I have also done many research regarding the subject also as an effort to achieve that dream.</p></td></tr>
                <tr><td><br></td></tr>
                <tr><td><p>In a group project, I try to always do my part of the work ahead of schedule so I can help other group members if they have not finished their work. Besides that, I also like to mingle with many people to create social networks. Though my outgoing and extrovert personality is sometimes found to be overbearing for other people.</p></td></tr>
                <tr><td><br></td></tr>
                <tr><td><p>Despite preferring group projects over individual ones, I am also able to excel in individual projects if given enough time and motivation.</p></td></tr>
            </table>
        </div>
        </div>
        <br>
        <br>
        <br>
        <div class="con-1">
            <div class="con-2">
                <table>
                <tr>
                    <td>
                        <h1>EDUCATION BACKGROUND</h1>
                        <h3>University of Indonesia Computer Science Major Information Systems Undergraduate Student</h3>
                        <h4>(2019 - current)</h4>
                        <p>I have studied for two semesters as a Computer Science major learning various coding languages, mainly java and python for front end and back end development. As an Information Systems student, I have learned the basics of systems of information and also business and management.</p>
                        <h3>Regina Pacis Bogor High School</h3>
                        <h4>(2016 - 2019)</h4>
                        <p>During my High School period, I focused on natural sciences mostly because I enjoy trying to understand everything that happens in life. This has also allowed me to gain an increased knowledge about natural sciences that I have learned to apply on my day-to-day actions.</p>
                    </td>
                </tr>
                </table>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="con-1">
            <div class="con-2">
                <table>
                <tr><td><h1>SKILLSETS & TOOLS</h1></td></tr>
                <tr><td>Analytical & Logical Thinking</td></tr>
                <tr><td>Problem Solving</td></tr>
                <tr><td>Creativity</td></tr>
                <tr><td>Communication</td></tr>
                <tr><td>Teamwork</td></tr>
                <tr><td>Visual Studio Code</td></tr>
                <tr><td>Microsoft Office</td></tr>
            </table>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="con-1">
            <div class="con-2">
                <table>
                <tr>
                    <td>
                        <h1>ORGANIZATIONAL EXPERIENCE</h1>
                        <h3>SBF Akademis dan Kepemimpinan</h3>
                        <p>SBF or Sekolah BEM Fasilkom is an “event” held by the Faculty of Computer Science in the University of Indonesia that aims to give insight to the inner workings of the Academic and Leadership division of the “BEM”. I was the “Kepala pelaksana” of a talkshow held by other students “dibimbing” by Senior members of the division that talked about “mapres”</p>
                        <h3>Various Staff Positions in Events during High School</h3>
                        <p>My High School has held at least one art festivals every year and recruited members of the student body to work as staff members in the event. I have personally worked in the transportation and English Debate division in two separate events.</p>
                    </td>
                </tr>
            </table>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="con-1">
            <div class="con-2">
                <table>
                <tr>
                    <td>
                        <h1>LANGUAGE PROFICIENCY</h1>
                        <h3>English</h3>
                        <h4>Professional Working Fluency</h4>
                        <p>I have 12 years of formal education on the subject, 6 of which is sponsored by LIA while in a partnership with my Junior and Senior High School. My mastery of the language have allowed me to use English fluently in both speaking and writing.                        </p>
                        <h3>Bahasa Indonesia</h3>
                        <h4>Native Fluency</h4>
                        <p>While living in a country that mainly speaks Indonesian for 18 years and receiving formal education on the language for at least 12 years, I have attained the ability to speak and write fluently in Indonesian.                        </p>
                    </td>
                </tr>
            </table>
            </div>
        </div>
{% endblock content %}