{% extends "base.html" %}
{% load static %}
{% block content %}
        <table>
            <td>
                <tr>
                    <img src="https://cdn.discordapp.com/attachments/687132104097529893/687132198402392144/Untitled106.png" width="200" height="200" alt="">
                </tr>
            </td>
        </table>
        <table>
            <tr>
                <td>Nama</td>
                <td>Eyota Wakanda</td>
            </tr>
            <tr>
                <td>NPM</td>
                <td>1906353832</td>
            </tr>
            <tr>
                <td>Angkatan</td>
                <td>2019</td>
            </tr>
            <tr>
                <td>Tempat Kuliah</td>
                <td>Universitas Indonesia</td>
            </tr>
            <tr>
                <td>Hobi</td>
                <td>Bernafas, makan makanan gratis</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>About me</td>
            </tr>
            <tr>
                <td>blablabla</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Contact info:</td>
            </tr>
            <tr>
                <td>http://line.me/ti/p/~menurutmuapalagi</td>
            </tr>
        </table>
{% endblock content %}