{% load static %}
<html>

<head>
    <link type="text/css" rel="stylesheet" href="{% static 'css/design6.css' %}">
</head>

<body>
    <ul>
        <li><a href="{% url 'story6_eyotawakanda:index' %}">Home</a></li>
        <li><a href="{% url 'story6_eyotawakanda:tambah' %}">Tambah</a></li>
    </ul>
    {% block content %}

    {% endblock  %}
</body>

</html>