{% extends "base6.html" %}
{% load static %}
{% block content %}
<h2>Aktivitas</h2>
<a class="button" href={% url 'story6_eyotawakanda:tambah' %}>Tambah Orang</a>
<div class="con-1">
    <div class=grid>
        {% for i in aktivitas %}
        <div class="table box">
            <div class="align-center">
                <h4>{{ i.nama_aktivitas }}</h4>
                <p>Orangnya siapa aja</p>
                {% for j in orang %}
                {% if j.aktivitas.nama_aktivitas == i.nama_aktivitas %}
                <p>{{ j.nama_orang }}</p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content%}