{% extends "base6.html" %}
{% load static %}
{% block content %}
<h2>Tambah Orang</h2>
<div class="con-1">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button button-1" type="submit" value="Submit" />    
    </form>
</div>
{% endblock content %}