@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
    background-color: #000000;
}

.con-1 {
    display: flex;
    /* flex-grow: 2; */
    flex-wrap: wrap;
    flex-basis: auto;
    /* justify-content: center; */
    align-content: space-between;
    background-color: #FFFFFF;
    border-radius: 35px;
    height: auto;
    width: 60%;
    font-family: 'Maven Pro', sans-serif;
    position: relative;
    left: 20%;
}

.con-2 {
    display: flex;
    height: 80%;
    width: 80%;
    position: relative;
    left: 10%;
}

.con-head {
    display: flex;
    position: relative;
    left: 15.5%;
    font-family: 'Maven Pro', sans-serif;
}

.head-text {
    display: flex;
    color: #FFFFFF;
    font-size: 500%;
    position: relative;
    left: 14%;
    top: 10%;
    font-family: 'Maven Pro', sans-serif;
}

.head-text-mini {
    display: flex;
    flex-flow: column;
    color: #FFFFFF;
    font-size: 200%;
    position: relative;
    left: 14%;
    top: 10%;
    font-family: 'Maven Pro', sans-serif;
}

.face-circle {
    background-color: #c4c4c4;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    left: 5%;
    z-index: 3;
}

#face {
    border-radius: 40em;
    position: relative;
    top: 5%;
    z-index: 3;
}

#contact{
    height: 3%;
    width: 3%;
}

.just-circle {
    background-color: #74CAC5;
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    left: 19%;
}

.binder {
    background-color: #74CAC5;
    height: 230%;
    width: 1rem;
    position: absolute;
    left: 23%;
    z-index: 2;
<<<<<<< HEAD
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
} 

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
=======
>>>>>>> ebc95bb7547fc2ea340a588d84b034f904b7051d
}